/* Variables */
:root {
    --title-font: 'The Girl Next Door', cursive;
    --main-font : 'Libre Baskerville', serif;
    --border-radius-all: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background: linear-gradient(184deg, rgba(139,132,134,1) 42%, rgba(186,180,180,0.7415254237288136) 84%);
    padding-bottom: 15px;
}

.logo-header img {
    height: 100px;
    margin-top: 10px;
}

.logo-header {
    display: flex;
    flex-direction: row-reverse;
}

.header-title {
    font-size: 1.5rem;
    margin-top: 30px;
    font-family: var(--title-font);
    color: black;
}


/* Navigation et search bar */

.desktop-display {
    display: none;
}

form {
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    height: 25px;
}

form button {
    border-radius: 30px 0 0 30px;
    border: 1px solid black;
    padding: 5px;    
}

form input {
    border-radius: 0 30px 30px 0;
    border: 1px solid black;
}
::placeholder{
    padding: 5px;
    font-family: var(--main-font);
    
}

.icone-menu {
    margin-right: 20px;
}


/* Fin Header */

/* Main */
main {    
    background-size: contain;
    flex: 1;
    font-family: var(--main-font);
    font-size: 0.8rem;
    background: -webkit-linear-gradient(184deg, rgba(139,132,134,1) 42%, rgba(186,180,180,1) 100%);
}

/*Background (main)*/
.background-img {
    position: absolute;
    width: 100%;
}

.img1 {
    transform: rotate(180deg);
    filter: blur(2px);
    opacity: 0.5;
    max-width: 100%;
}
.img2 {
    transform: rotate(0deg);
    filter: blur(2px);
    opacity: 0.5;
    max-width: 100%;
}

/*section à l'affiche*/

.section-title {
    padding-left: 30px;
}

.container-on-display {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;    
}

.card-on-display {
    display: flex;
    height: 12rem;
    width: 85%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: var(--border-radius-all);
    z-index: 1;
    transition: all .2s ease-in-out;
}

.card-on-display:hover {
    transform: scale(1.1); 
}


.movie-description p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 5px;
    max-width: 34rem;
}

.rating {
    padding-top: 5px;
    padding-bottom: 5px;
}

.grey {
    color: grey;
}

.links img {
    height: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

.card-on-display img {
    border-radius: 10px 0 0 10px;
    padding-right: 5px;
}

.movie-description {
    padding-top: 5px;
}

.show-more {
    display: flex;
    justify-content: flex-end;
    padding: 0 35px 50px 0;
    font-size: 1rem;
    text-decoration-line: underline;
}

/*section les mieux notés*/

.section-title2 {
    padding-left: 10px;
}

.container-best-rated {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 1;
}

.card-best-rated {
    background-color: whitesmoke;
    border-radius: var(--border-radius-all);
    transition: all .2s ease-in-out;
}

.card-best-rated:hover {
    transform: scale(1.1); 
}

.card-best-rated img {
    max-width: 100%;
    height: 140px;
    border-radius: 10px 10px 0 0;
    min-width: 100%;
    
}
.categories-title {
    padding: 0 0 5px 5px;
}

.show-more2 {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    padding-right: 10px;
    text-decoration-line: underline;
}

/* Footer */
footer {
    width: 100%;
    background: linear-gradient(180deg, rgba(184,178,178,1) 29%, rgba(88,65,64,1) 54%);
}

.logo-footer {
    height: 80px;
}

.title-footer {
    font-family: var(--title-font);
    font-size: 1.3rem;
    align-self:center;
    color: whitesmoke
}

.footer-logo {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.social-network {
    padding: 0 10px 10px 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 30px;
}

.social-network-logo {
    height: 19px;
}